In [1]:
#jupyter notebook --NotebookApp.iopub_data_rate_limit=1.0e10
import pandas as pd
import numpy as np
import datetime

import matplotlib
import cufflinks as cf
import plotly
import plotly.offline as py
import plotly.graph_objs as go
import plotly.express as px


import os
#pip install chart_studio

pd.set_option('display.max_columns', None)
#pd.options.plotting.backend = "plotly"

In [14]:
# The path on the computer where the data is being stored. 
full_path = r"D:\Google Drive\Masters\Sem 3\EBAC No Ship, Sherlock\Capstone\raw data"

# The excel name
excel_route_file = "APJ Route TAT Master File V20210129.xlsx"

monthly_file_path = full_path + "\\monthly"

from Shared_Lib import *

# Get Masterdata of shipment routes

In [3]:
df_ship_routes = get_shipment_routes(full_path + "\\" + excel_route_file)

Length of Excel: 11958
The count of mode by air: 0

In [4]:
len(df_ship_routes)

11958

# Individual Shipment Data

In [6]:
file_names = [monthly_file_path + "\\" + f for f in os.listdir(monthly_file_path) if f.find("SearchResult")>=0]
# To read all the excel sheets. 
df_unique_shipment_all=pd.concat([get_shipment_data(f) for f in file_names])

c:\users\risk\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:3343: DtypeWarning:

Columns (21,22,23,24) have mixed types.Specify dtype option on import or set low_memory=False.

Excel File Name: D:\Google Drive\Masters\Sem 3\EBAC No Ship, Sherlock\Capstone\raw data\monthly\SearchResult_1615300381378_Jan21.csv | File shape is: (164584, 33)
Excel File Name: D:\Google Drive\Masters\Sem 3\EBAC No Ship, Sherlock\Capstone\raw data\monthly\SearchResult_1615301179189_Dec20.csv | File shape is: (148071, 33)

c:\users\risk\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:3343: DtypeWarning:

Columns (21,23) have mixed types.Specify dtype option on import or set low_memory=False.

Excel File Name: D:\Google Drive\Masters\Sem 3\EBAC No Ship, Sherlock\Capstone\raw data\monthly\SearchResult_1615301591520_Nov20.csv | File shape is: (105069, 33)
Excel File Name: D:\Google Drive\Masters\Sem 3\EBAC No Ship, Sherlock\Capstone\raw data\monthly\SearchResult_1615301861292_Oct20.csv | File shape is: (124359, 33)
Excel File Name: D:\Google Drive\Masters\Sem 3\EBAC No Ship, Sherlock\Capstone\raw data\monthly\SearchResult_1615302057067_Sep20.csv | File shape is: (600000, 33)
Excel File Name: D:\Google Drive\Masters\Sem 3\EBAC No Ship, Sherlock\Capstone\raw data\monthly\SearchResult_1615302586308_Aug20.csv | File shape is: (600000, 33)
Excel File Name: D:\Google Drive\Masters\Sem 3\EBAC No Ship, Sherlock\Capstone\raw data\monthly\SearchResult_1615302848713_Jul20.csv | File shape is: (600000, 33)
Excel File Name: D:\Google Drive\Masters\Sem 3\EBAC No Ship, Sherlock\Capstone\raw data\monthly\SearchResult_1615303098163_Jun20.csv | File shape is: (119388, 33)
Excel File Name: D:\Google Drive\Masters\Sem 3\EBAC No Ship, Sherlock\Capstone\raw data\monthly\SearchResult_1615303294492_May20.csv | File shape is: (600000, 33)
Excel File Name: D:\Google Drive\Masters\Sem 3\EBAC No Ship, Sherlock\Capstone\raw data\monthly\SearchResult_1615303594160_Apr20.csv | File shape is: (600000, 33)
Excel File Name: D:\Google Drive\Masters\Sem 3\EBAC No Ship, Sherlock\Capstone\raw data\monthly\SearchResult_1615303885072_Mar20.csv | File shape is: (276524, 33)
Excel File Name: D:\Google Drive\Masters\Sem 3\EBAC No Ship, Sherlock\Capstone\raw data\monthly\SearchResult_1615304080226_Feb20.csv | File shape is: (105049, 33)

# Data Cleaning / Exploratory

In [7]:
df_unique_shipment = df_unique_shipment_all.copy()

In [8]:
df_unique_shipment_all.shape

(4043044, 33)

In [9]:
print(f"There are a total of : {len(df_unique_shipment):,} data")
print(f"There are {len(df_unique_shipment['Shipment id'].unique()):,} unique shipment Ids")

There are a total of : 4,043,044 data
There are 197,746 unique shipment Ids

In [10]:
# Get the data column cleaned up. 
df_unique_shipment = column_to_datetime(df_unique_shipment)

Changing Column 'Departed from Origin Port Milestone Local Time' to datetime.
Changing Column 'Departed from Origin Port Milestone Time' to datetime.
Changing Column 'Departed from Origin Port Milestone Received Time' to datetime.
Changing Column 'Arrived at Destination Port Milestone Local Time' to datetime.
Changing Column 'Arrived at Destination Port Milestone Time' to datetime.
Changing Column 'Arrived at Destination Port Milestone Received Time' to datetime.
Changing Column 'Est. Arrival at Destination Port Milestone Local Time' to datetime.
Changing Column 'Est. Arrival at Destination Port Milestone Time' to datetime.
Changing Column 'Est. Arrival at Destination Port Milestone Received Time' to datetime.

In [18]:
milestone_recieved = "Departed from Origin Port Milestone Received Time"
milestone_time = 'Departed from Origin Port Milestone Time'

get_stats_recieved_vs_actual(df_unique_shipment, milestone_recieved, milestone_time)

Recieved Year: [2021.0, nan, 2020.0]
Recieved Month : [1.0, nan, 3.0, 2.0, 12.0, 11.0, 10.0, 9.0, 8.0, 7.0, 6.0, 5.0, 4.0]


The summary of 'Departed from Origin Port Milestone Received Time' - 'Departed from Origin Port Milestone Time'
count    4,036,048.00
mean             2.54
std              9.61
min            -21.00
25%              0.00
50%              0.00
75%              2.00
max            366.00
dtype: object

### Check Arrival Timing

In [20]:
milestone_recieved = "Departed from Origin Port Milestone Received Time"
milestone_time = 'Departed from Origin Port Milestone Time'

get_stats_recieved_vs_actual(correct_milestone_actual_timediff(
    df_unique_shipment, milestone_recieved, milestone_time, 300, 366), 
                             milestone_recieved, milestone_time)

Recieved Year: [2021.0, nan, 2020.0]
Recieved Month : [1.0, nan, 3.0, 2.0, 12.0, 11.0, 10.0, 9.0, 8.0, 7.0, 6.0, 5.0, 4.0]


The summary of 'Departed from Origin Port Milestone Received Time' - 'Departed from Origin Port Milestone Time'
count    4,036,048.00
mean             2.42
std              7.03
min            -21.00
25%              0.00
50%              0.00
75%              2.00
max            112.00
dtype: object

In [21]:
milestone_recieved = "Arrived at Destination Port Milestone Received Time"
milestone_time = 'Arrived at Destination Port Milestone Time'

df_arr = correct_milestone_actual_timediff(
    df_unique_shipment, milestone_recieved, milestone_time, 300, 366)
get_stats_recieved_vs_actual(df_arr, milestone_recieved, milestone_time)

Recieved Year: [2021, 2020]
Recieved Month : [2, 3, 1, 12, 11, 10, 9, 8, 7, 6, 5, 4]


The summary of 'Arrived at Destination Port Milestone Received Time' - 'Arrived at Destination Port Milestone Time'
count    4,043,044.00
mean             0.75
std              3.84
min            -53.00
25%              0.00
50%              0.00
75%              1.00
max            122.00
dtype: object

In [22]:
df_arr[(df_arr[milestone_recieved] - df_arr[milestone_time]).dt.days > 120] \
    [["Shipment id", milestone_recieved, milestone_time, "Departed from Origin Port Milestone Received Time", "Shipment date", "Delivered date"]]

,Shipment id,Arrived at Destination Port Milestone Received Time,Arrived at Destination Port Milestone Time,Departed from Origin Port Milestone Received Time,Shipment date,Delivered date
229745,39294558,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 01:00:15,2020-07-02 00:00:00,NaN
229747,39294558,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 01:00:15,2020-07-02 00:00:00,NaN
229749,39294558,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 02:45:53,2020-07-02 00:00:00,NaN
229751,39294558,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 02:45:53,2020-07-02 00:00:00,NaN
230052,39294559,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 02:45:53,2020-07-02 00:00:00,NaN
230057,39294559,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 02:45:53,2020-07-02 00:00:00,NaN
230062,39294559,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 01:00:15,2020-07-02 00:00:00,NaN
230067,39294559,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 01:00:15,2020-07-02 00:00:00,NaN
230424,39294564,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 01:00:15,2020-07-02 00:00:00,NaN
230429,39294564,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 01:00:15,2020-07-02 00:00:00,NaN
230434,39294564,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 02:45:53,2020-07-02 00:00:00,NaN
230439,39294564,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 02:45:53,2020-07-02 00:00:00,NaN
232798,39294563,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 02:45:53,2020-07-02 00:00:00,NaN
232801,39294563,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 02:45:53,2020-07-02 00:00:00,NaN
232804,39294563,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 01:00:15,2020-07-02 00:00:00,NaN
232807,39294563,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 01:00:15,2020-07-02 00:00:00,NaN
236078,39294562,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 02:45:53,2020-07-02 00:00:00,NaN
236080,39294562,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 02:45:53,2020-07-02 00:00:00,NaN
236082,39294562,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 01:00:15,2020-07-02 00:00:00,NaN
236084,39294562,2020-11-10 03:32:25,2020-07-10 15:20:00,2020-08-26 01:00:15,2020-07-02 00:00:00,NaN
237187,39294561,2020-11-10 03:22:52,2020-07-10 15:20:00,2020-08-26 01:00:15,2020-07-02 00:00:00,NaN
237189,39294561,2020-11-10 03:22:52,2020-07-10 15:20:00,2020-08-26 01:00:15,2020-07-02 00:00:00,NaN
237191,39294561,2020-11-10 03:22:52,2020-07-10 15:20:00,2020-08-26 02:45:53,2020-07-02 00:00:00,NaN
237193,39294561,2020-11-10 03:22:52,2020-07-10 15:20:00,2020-08-26 02:45:53,2020-07-02 00:00:00,NaN